#cloud-config
user: {{ user }}
password: {{ password }}
chpasswd: { expire: False }
ssh_pwauth: True

# Add users to the system. Users are added after groups are added.
users:
  - name: juju
    gecos: Juju,,,
    lock-passwd: true

{% if ssh_key %}
ssh_authorized_keys:
  - {{ ssh_key }}
{% endif %} 

{% if hostname -%}
hostname: {{ hostname }}
manage_etc_hosts: True
{%- endif %}

{% if apt_http_proxy -%}
apt_proxy: {{ apt_http_proxy }}
{%- endif %}

{% if apt_sources -%}
apt_sources:
{% for source in apt_sources -%}
  - source: "{{ source }}"
{% endfor %}
{%- endif %}

write_files:
  - content: |
{{network_config}}
    path: /etc/network/interfaces

packages:
  # MAAS Core Packages
  - maas
  - maas-dhcp
  - maas-dns
  # Used to manage KVM instances via libvirt
  - libvirt-bin
  # Below package does not exist on Power8 architecture.
{%- if arch != 'ppc64' %}
  - linux-image-extra-virtual
{% endif %}
  - jq
  - juju-core
  - juju-deployer
  # Node management tools
  - ipmitool
  - wakeonlan
  - amtterm
  - wsmancli
  # Python libraries used for the maas configuration script
  - python-bson
  - python-httplib2
  - python-jinja2
  - python-maas-client
  - python-yaml
  # Misc
  - ntp

final_message: "MAAS controller is now configured."
